<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="第一版.Properties.Settings.短信ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\短信.mdb"
           providerName="System.Data.OleDb" />
      <add name="第一版.Properties.Settings.短信ConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\Debug\短信.mdb"
          providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>